body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right,#1DB954, #083a1a);
  height: '100%';
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: ; */
  font-family: 'Roboto', sans-serif;
  /* position: absolute */
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin: 0;
}

h4 {
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeContainer {
  margin: 0;
  /* width: 100%; */
}

.homeContainer h1 {
  margin: 0;
}

.homeLanding {
  background-color: #101010;
  width: 100%;
  height: 90vh;
  color: #fff;
  display: flex;
  /* background: rgb(16,16,16);
  background: linear-gradient(175deg, rgba(16,16,16,1) 20%, rgba(22,139,63,1) 100%); */
}

.homeDown {
  background-color: #101010;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downIcon {
  /* transform: scaley(2); */
  transform: scale(3);
  color: #fff;

  animation: bounce 1.5s cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
      transform: translate3d(0, -15px, 0);
  }
  to {
      transform: translate3d(0, 15px, 0);
  }
}

.textLoad {
  animation: 2s anim-lineUp ease-out infinite;
  animation-iteration-count: 1;

}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.homeLandingLeft {
  /* padding: 15rem 0 0 10rem; */
  /* padding-left: 10%;
  padding-top: 15%; */
  /* text-align: center; */
  /* display: block; */
  /* justify-content: center; */
  /* vertical-align: middle; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5% 0 5%;
}

.homeLandingLeft h1 {
  font-size: 6vw;
  font-weight: bold;
  /* text-shadow: 4px -2px 7px rgba(255, 255, 255, 0.29); */
}

.homeLandingLeft h2 {
  font-size: 2.2vw;
  color: #22d661;
  font-weight: bold;
  margin: 0;
}

.homeLandingLeft h4 {
  font-weight: bold;
  margin-bottom:  0;
  font-size: 1vw;
}

.homeLandingRight {
  flex: 1;
  /* display: block;
  justify-content: center;
  padding-top: 12%;
  padding-left: 10%; */
  /* padding: 30vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5% 0 5%;
}

.homeLandingRight img{
  height: 20vw;
  border-radius: 2px;
  /* filter: drop-shadow(.5rem .5rem 1rem rgb(255, 255, 255)); */
}

.homePart {
  background-color: #202020;
  width: 100%;
  height: 100vh;
  color: #fff;
  /* background-image: url(https://storage.googleapis.com/pr-newsroom-wp/1/2020/10/circle_burst1-green-nocopy-1920x733.png);

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; */
  /* text-align: center; */
  
}

.homePart h1 {
  text-align: center;
  font-size: 6em;
  font-weight: bold;
  padding-top: 1em;
  /* border-bottom: 2px solid #fff; */
  /* width: fit-content; */
}

.videoPart {
  background-color: #202020;
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  background-color: #083a1a;
  display: flex;
  justify-content: space-between;
}

.mainHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.headerSpace {
  margin-top: 5rem;
}

.headerItem {
  margin: 1rem;
  background-color: #181818;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 1rem;
  /* margin: 1%; */
  /* padding: 1%; */
  /* font-size: 2ex; */
}

.headerComponents {
  display: flex;
}

.headerItem:hover {
  background-color: #fff;
  color: #181818;
  border: 2px solid #181818;
  cursor: pointer;
}

.tab {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  background-color: #168b3f;
  text-align: center;
  padding: 0.3rem;
  border-radius: 5px;
  font-size: 1em;
  /* font-size: 1vw; */
  min-width: 70px;
}

.tab:hover {
  background-color: #ffffff;
  color: #191414;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.playlistContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.playlistContainer > * {
  margin: 1rem;
}

.albumContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.albumContainer > * {
  margin: 1rem;
}

.playlistItem {
  padding: 1rem;
  text-align: center;
  background-color: #101010;
  color: #ffffff;
  border-radius: 10px;
  font-size: large;
}

.playlistItem:hover {
  background-color: #222222;
}

.playlistItem img {
  cursor: pointer;
  border-radius: 5px;
}

.playlistItem p {
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  padding: 1rem 0 0.5rem 0;
}

.trackContainer {
  display: block;
  background-color: #282828;
  padding: 1rem;
  /* margin: 0; */
  /* margin: 1rem; */
}

.trackContainer h2 {
  margin-left: 1vh;
}

.trackItem {
  background: #191414;
  margin: 1rem;
  /* padding: 1rem; */
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
}

.trackItemPartImage {
  padding: 1rem;
  flex: 0.5;
}

.trackItemPartImages {
  cursor: pointer;
  opacity: 1;
  filter: none;
  border-radius: 2px;
  -webkit-filter: brightness(90%) grayscale(0%);
}

.trackItemPartImages:hover {
  filter: none;
  -webkit-filter: brightness(120%) blur(1px);
}

.trackItemPartCounter {
  padding: 1rem;
  flex: 0;
}

.trackItemPart {
  padding: 1rem;
  flex: 2;
}

.trackContainer p{
  color: #ffffff;
}

.trackContainer h4{
  color: #727272;
}

.playlistCoverContainer {
  display: flex;
  color: #ffffff;
  align-items: center;
  margin: 1rem;
}

.playlistCoverContainer img {
  border-radius: 5px;
}

.playlistCoverTitle {
  display: block;
}

.playlistCoverItem {
  padding: 0.5rem;
}

.biggerFont {
  font-size:xx-large;
  font-weight: bold;
}

.pageContainer {
  /* padding: 1rem; */
  margin: 1rem;
  padding-top: 1rem;
  color: #ffffff;
  /* background-color: #282828; */
}

.pageContainer h3 {
  margin: 1rem;
  font-size: xx-large;
}

.mediaPlayer {
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: -1;
}

.topArtistsContainer {
  display: block;
  /* flex-wrap: wrap; */
  background-color: #fff;
  border-radius: 5px;
  margin: 1rem;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.topArtistsContainerItem {
  display: flex;
}

.topArtistsContainerItemTop1 {
  flex: 1;
  margin: 1rem;
  pad: 2rem;
}

.topArtistsContainerItemTop2 {
  flex: 3;
  margin: 1rem;
  pad: 2rem;
}

.topArtists {
  color: #ffffff;
  text-align: center;
  background-color: #191414;
  margin: 1rem;
  border-radius: 5px;
  /* width: 10rem;
  height: 100%; */
  padding: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
}

.topArtists img {
  width: 6rem;
  height: 6rem;
  border-radius: 50px;
}

.topArtistItem {
  padding: 0 5rem 0 5rem;
  width: 10%;
}

.topContainer {
  display: flex;
  background-color: #191414;
  padding: 1rem;
  color: #fff;
  margin: 0.1rem;
  border-radius: 5px;
}

.topContainer > * {
  text-align: left;
}

.tA img{
  object-fit: cover;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.tT img{
  object-fit: cover;
  width: 7rem;
  height: 7rem;
}

.f0 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.f1 {
  flex: 0.25;
  margin: 0;
}

.f2 {
  flex: 3;
  margin: 0;
}

.topArtist {
  display: flex;
  align-items: center;
  width: 40%;
}

.t1 {
  flex: 1;
  padding: 0 2rem 0 2rem;
  font-size: large;
}

.flex {
  display: flex;
}

.topOptions {
  background-color: #191414;
  color: #fff;
  border-radius: 5px;
  margin: 1rem;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.topOptionsItem {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topOptionsItem img{
  object-fit: cover;
  width: 7rem;
  height: 7rem;

  border-radius: 50%;
  background-color: #168b3f;
  margin: 1rem;
}

.topButton{
  all: unset;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;
  font-weight: bold;

  background-color: #168b3f;
  color: #fff;
  border: 2px solid #168b3f;
}

.topButton:hover {
  background-color: #20c75a;
  border: 2px solid #20c75a;
  color: #fff;
  
}

.highlight {
  all: unset;
  cursor: pointer;
  padding: 1rem;
  margin: 1rem;

  border: 2px solid #20c75a;
  background-color: #20c75a;
  color: #fff;
  font-weight: bold;
}

.playlistButton a {
  all: unset;
}

.topSongItem {
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;

}

.item-space {
  margin: 0 2vh 0 2vh;
}

.artist-list {
  display: flex;
  justify-content: left;
  
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.topBarItemCenter {
  justify-content: center;
  display: flex;
}

.topBarItemLeft {
  align-items: center;
  justify-content: left;
  display: flex;
  margin: 0 2vh 0 2vh;
}

.fSmaller {
  flex: 0.25;
}

.fSmall {
  flex: 0.5;
  /* margin: 0; */
}

.fNormal {
  flex: 1;
  /* margin: 0; */
}

.fLarge {
  flex: 2;
}

.playlistTop {
  display: flex;
  width: 100%;
}

.playlistTopItem {
  /* padding: 0.25rem; */
  margin: 0.5rem 0 0 0.5rem;
  text-align: left;
  align-items: center;
  display: flex;
  color: #727272;
}

.playlistTopItem h3{
  color: #fff;
}

.playlistTitle {
  display: grid;
  padding: 1rem;
}

.rangeContainer {
  text-align: left;
}

.rangeButton {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  border: 2px solid #fff;
  margin: 1rem;
  color:#191414;
}

.rangeButton:hover {
  border-bottom: 3px solid #191414;
  border-radius: 5px;
}

.rangeButtonSelected {
  all: unset;
  cursor: pointer;
  padding: 0.5rem;
  border: 2px solid #fff;
  margin: 1rem;
  color:#191414;

  border-bottom: 3px solid #191414;
  border-radius: 5px;
  /* font-weight: bold; */
}

.playlistButton {
  /* text-align: right; */
  flex: 1;
}

/* .playlistButton button {
  vertical-align: middle;
} */

.selectedContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #191414;
  margin: 3rem;
  /* padding-top: 2rem; */
  margin-top: 7rem;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  /* height: 1000px; */
}

.selectedContainer > * {
  margin: 1rem;
}

.selectedButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selectedButtons button {
  all: unset;
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 3px solid #fff;
  width: 15em;
  height: 2em;
  /* flex: 1; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .selectedButtons button:hover {
  background-color: #fff;
  color: #191414;
} */

/* .buttonChoice button:hover {
} */

.buttonHover button:hover {
  background-color: #fff;
  color: #191414;
}

.refreshButton {
  all: unset;
  cursor: pointer;
  background-color: #168b3f;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 20px;
  transition: all 0.2s ease-in; 
}

.refreshButton:hover { 
  transform: scale(1.1); 
}

.slider {
  display: flex;
  margin-left: 40%;
  margin-right: 40%;
}

.slider > * {
  margin: 0.5rem;
}

.artistContainer {
  background-color: #181818;
  margin: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  color: #fff;
  border-radius: 5px;
}

.artistCover {
  display: flex;
  margin: 1rem;
  margin-top: 7rem;
}

.artistItem {
  padding: 2rem;
  padding-top: 2.5rem;
}

.artistItem img{
  border-radius: 2px;
}

.artistPopularity {
  background-color: #168b3f;
  padding: 1rem;
  border-radius: 5px;
  font-size: larger;
}


.albumItem {
  flex: 1;
  display: grid;
  background-color: #282828;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  border-radius: 5px;
  max-width: 200px;
  max-height: 300px;
  align-items: center;
  justify-content: center;
}

.albumItem:hover {
  background-color: #202020;
  cursor: pointer;
}

.albumItem h4 {
  margin: 0.5rem;
  height: 20px;
}

.albumItem img {
  border-radius: 5px;
}

.correctSong button{
  background-color: #168b3f;
}

.wrongSong button{
  background-color: rgb(175, 15, 15);
}

.playImage img{
  border-radius: 5px;
}

.searchBar {
  width: 60%;
  text-align: left;
  vertical-align: middle;
  /* box-sizing:border-box; */
  padding: 0.3rem;
  font-size: 1em;
  /* display: flex;
  justify-content: right; */
  border-radius: 5px;
  /* font-family: 'Roboto', sans-serif;
  box-shadow:0 0 15px 4px rgba(255, 255, 255, 0.06); */
  border: 1px solid #eee;
  transition: .3s border-color;
}

input[type=text] {
  /* padding:10px;
  border:0; */
  /* width:100%; */
  font-family:inherit;
  font-size: inherit;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.searchBarForm {
  text-align: center;
  display: flex;
  justify-content: right;
  vertical-align: middle;
}

.searchPageForm {
  text-align: center;
  margin: 11vh 0 0 0;
}

.searchPageBar {
  width: 30em;
  height: 3vh;
  
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
}

.artistIcon {
  vertical-align: middle;
  margin-right: 5px;
  /* color: #fff; */
}

/* .artistIcon:hover {
  color: #121499;
} */

.albumArtist a {
  vertical-align: middle;
  border-bottom: 1px solid #181818;
  color: #20c75a;
  font-weight: bold;
}

.albumArtist a:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.imageBorder {
  background-color: #202020;
  margin: 1rem;
  border-radius: 150px;
}

.imageBorder > * {
  vertical-align: middle;
}

.playButton {
  margin: 0;
  /* display: flex;
  justify-content: center; */
}

.playButton button{
  all: unset;
  cursor: pointer;
  border: 2px solid #22d661;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: #22d661;
  color: #101010;
  font-weight: bold;
  border-radius: 5px;
}

.howToPlayContainer {
  
  /* backdrop-filter: blur(10px); */
  background-color: #083a1a;
  width: auto;
  /* height: 60vh; */
  margin-top: 5rem;
  margin-left: 10vh;
  margin-right: 10vh;
  border-radius: 5px;
  display: block;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  border: 2px solid #fff;
  background-image: url(https://storage.googleapis.com/pr-newsroom-wp/1/2021/04/triangle_burst2-green-nocopy-1920x733.png);

  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  
  box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
  -webkit-box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
  -moz-box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
}

.videoContainer {
  padding: 2em;
  background-color: #101010;
  border-radius: 10px;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
  -webkit-box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
  -moz-box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
}

.videoContainer h1 {
  font-size: 40px;
}

.videoContainer p {
  margin-top: 1em;
  font-weight: 300;
}

.videoContainer iframe {
  margin-top: 3em;
}

.howToPlay {
  /* background-color: #168b3f; */
  /* margin-left: 5%;
  margin-right: 5%; */
  /* margin-top: 1%; */
  /* width: auto; */
  /* height: 100%; */
  height: 20rem;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  backdrop-filter: blur(10px);
}

.playInstruction {
  margin: 5vh;
}

.playInstructionCenter {
  margin: 5vh 0 5vh 0;
}

.instruction {
  box-shadow: 5px 9px 14px -1px rgba(0,0,0,0.61);
  -webkit-box-shadow: 5px 9px 14px -1px rgba(0,0,0,0.61);
  -moz-box-shadow: 5px 9px 14px -1px rgba(0,0,0,0.61);
  border: 2px solid #fff;
  flex: 1;
  background-color: #101010;
  text-align: center;
  border-radius: 5px;
  width: 100px;
  display: table;
  box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
  -webkit-box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
  -moz-box-shadow: 0px 0px 60px -30px rgba(255,255,255,0.61) inset;
}

.instruction > *{
  /* margin: 2rem; */
  display: table-cell;
  vertical-align: middle;
}

.instruction p,h2{
  margin: 2rem;
}

.instruction p {
  vertical-align: middle;
  font-size: 1vw;
  font-weight: 100;
}

.instruction h2 {
  font-size: 1.5vw;
}

.playInstructionArrow {
  flex: 0.5;
}

.muiIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
  color: #fff;
}

.muiIcon p{
  /* text-align: center; */
  vertical-align: middle;
  /* display: flex; */
}

.playIcon {
  display: flex;
  justify-content: right;
  align-items: center;
  transform: scale(0.9);
}